@media (max-width: 575.98px) {
  main {
    margin-top: 80px;
  }

  main .main-logo img {
    width: 200px;
    padding-top: 50px;
  }

  main .main-logo {
    margin-bottom: 20px;
  }

  main .main-input {
    width: 300px;
  }

  main .main-input-container {
    width: 300px;
  }

  main .main-input input {
    width: 240px;
    height: 30px;
  }

  main .main-buttons button {
    font-size: 12px;
    padding: 0 12px;
  }

  footer {
    display: block;
    padding: 10px;
    font-size: 13px;
  }

  .movil-inactivo {
    display: none;
  }

  .footer-top {
    bottom: 80px;
  }

  footer .footer-right,
  .footer-left {
    justify-content: space-around;
    padding-inline-start: 10px;
  }
}
